.devices {
    padding: 20px;
}

.devices__items {
    width: 100%;
    display: grid;
    gap: 10px;
   
    grid-template-columns: repeat(4, 1fr)
}

.devices__item {
    display: flex;
    flex-direction: column;

    border: 1px solid black;
    border-radius: 10px;

    padding: 10px;
}

.devices__item--label span {
    font-weight: bold;
    
    font-size: 1.625rem;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: #101418;
}

.devices__item--description {
    color: #1C2025;
}

.devices__item--delite-btn {
    margin-top: 10px;
}

.devices__item--edit-btn {
   margin-right: 10px !important; 
}

.devices__item--actions {
    display: flex;
    justify-content: space-between;
}