.session {
    padding: 20px;
}

.session__items {
    width: 100%;
    display: grid;
    gap: 10px;
   
    grid-template-columns: 1fr 1fr;
}

.session__item {
    display: flex;
    flex-direction: column;

    border: 1px solid black;
    border-radius: 10px;

    padding: 10px;
}

.session__item--label {
    font-weight: bold;
    
    font-size: 1.625rem;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: #101418;
}

.session__item--description {
    color: #1C2025;
}

.session__item--delite-btn {
    margin-top: 10px;
}

.session__item--edit-btn {
   margin-right: 10px !important; 
}