.map-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
  
.slider-container {
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}
  
.map {
  flex: 2;
  height: 750px;
  width: 750px;
}
  
.slider-label {
  text-align: center;
}
